.center {
  text-align: center;
  justify-self: center;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.w10 {
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
}

.mr-2 {
  padding-right: 3rem !important;
  margin-right: 2rem !important;
}
