.giphy-loading {
  margin: 1rem 0 !important;

  &-space {
    width: 3rem !important;
    height: 4rem !important;
    padding: 0 !important;
    color: transparent;
  }

  &-slab {
    width: 3rem !important;
    height: 4rem !important;
    padding: 0 !important;
    color: transparent;
    margin-left: 2rem !important;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
