.giphy-loading {
  margin: 1rem 0 !important;

  &-space {
    width: 3rem !important;
    height: 4rem !important;
    padding: 0 !important;
    color: transparent;
  }

  &-slab {
    width: 3rem !important;
    height: 4rem !important;
    padding: 0 !important;
    color: transparent;
    margin-left: 2rem !important;
  }
}

.loading {
  span {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.5rem;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }

    &:nth-child(2) {
      animation-delay: 0.4s;
    }

    &:nth-child(3) {
      animation-delay: 0.8s;
    }
  }
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(0.1rem);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}
