.giphy-loading {
  margin: 1rem 0 !important;

  &-space {
    width: 3rem !important;
    height: 4rem !important;
    padding: 0 !important;
    color: transparent;
  }

  &-slab {
    width: 3rem !important;
    height: 4rem !important;
    padding: 0 !important;
    color: transparent;
    margin-left: 2rem !important;
  }
}

.search-loading {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95%;
  z-index: 1000;

  &-box {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    box-sizing: content-box;
    background-color: white;
    width: max-content;
    height: 10rem;
    border-radius: 1.2rem;
    margin: 5rem 0;
    box-shadow: 0.5rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);

    svg {
      position: relative;
      width: 5rem;
      height: 5rem;
      animation: rotate 2s linear infinite;

      circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke-width: 4;
        stroke: var(--color-scheme-1);
        stroke-linecap: round;
        transform: translate(0.5rem, 0.5rem);
        stroke-dasharray: 200;
        stroke-dashoffset: 200;
        animation: search 3s linear infinite;
      }
    }

    span {
      margin-left: 2rem;
      font-size: 1.4rem;
    }
  }
}

.loading {
  span {
    width: 0.7rem;
    height: 0.7rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    background-color: inherit;
    display: inline-block;
    animation-name: dots;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &:nth-child(1) {
      animation-delay: 0.2s;
    }

    &:nth-child(2) {
      animation-delay: 0.4s;
    }

    &:nth-child(3) {
      animation-delay: 0.8s;
    }
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &::after {
    content: '';
    width: 80%;
    height: 80%;
    border: 0.5rem solid var(--color-dark-shade-scheme-1);
    border-top-color: var(--color-light-shade-scheme-1);
    border-radius: 50%;
    animation: loadingSpinner 1s linear infinite;
  }
}

@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(0.1rem);
  }
}

@keyframes loadingSpinner {
  to {
    transform: rotate(1turn);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes search {
  0%,
  100% {
    stroke-dashoffset: 200;
  }

  50% {
    stroke-dashoffset: 0;
  }

  50.1% {
    stroke-dashoffset: 880;
  }
}
