.color-grey-light {
  &-scheme-1 {
    background-color:  var(--color-light-shade-scheme-1) !important;
    color: var(--color-dark-shade-scheme-1) !important;
    
  }

  &-scheme-2 {
    background-color: var(--color-light-shade-scheme-2) !important;
    color: var(--color-dark-shade-scheme-1) !important;
  }

  &-scheme-3 {
    background-color: var(--color-light-shade-scheme-3) !important;
    color: var(--color-dark-shade-scheme-1) !important;
  }

  &-scheme-4 {
    background-color: var(--color-light-shade-scheme-4) !important;
    color: var(--color-dark-shade-scheme-1) !important;
  }
}
