.logout {
  color: $color-scheme-2;
  font-size: 1.6rem;

  &:hover {
    cursor: pointer;
  }
}

.link {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }

  &-text {
    font-size: 1.4rem;
  }
}
