.logout {
  color: $color-scheme-2;
  font-size: 1.6rem;

  &:hover {
    cursor: pointer;
  }
}

.link {
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }

  &-text {
    font-size: 1.4rem;
  }

  &-forgotPassword {
    margin: 1rem 0;
    font-size: 1.4rem;
    text-decoration: underline;
    color: $color-scheme-1;
  }
}

.min-height {
  height: min-content !important;
  max-height: min-content !important;
  min-height: min-content !important;
}

.mb4 {
  margin-bottom: 4rem;
}

.hide {
  display: none !important;
}

.modal-info-title {
  font-size: 1.8rem !important;
  font-weight: 200 !important;
  margin-left: 1rem;
  min-width: 8rem !important;
  text-align: right;

  &-text {
    font-size: 1.6rem !important;
  }
}
