.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media only screen and (max-width: $large) {
    width: 100%;
    padding: 0 2rem;
  }

  &-box {
    @media only screen and (max-width: $medium) {
      width: 100% !important;
    }

    &-container {
      border-bottom-left-radius: 1.2rem;
      border-bottom-right-radius: 1.2rem;
      border: 0.1rem solid $color-light-shade-scheme-3;
      box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
      margin-bottom: 2rem;
      padding: 1rem 1rem;
    }

    &-heading {
      background-color: $color-light-shade-scheme-2;
      height: 4rem;
      border-top-left-radius: 1.2rem;
      border-top-right-radius: 1.2rem;
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 700;
      color: $color-dark-shade-scheme-2;
      padding: 0 1rem;

      &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        min-width: 5rem;
        max-height: 100%;
        max-width: 100%;
        background-color: $color-scheme-2;
        padding: 0.3rem 1rem;
        border-radius: 3rem;
        margin: 0 0.5rem;
        color: white;
        font-weight: 700;
        transition: all 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: $color-scheme-1;
        }

        svg {
          width: 2.2rem;
          height: 2.2rem;
          fill: white;
          margin-right: 0.5rem;
        }

        input {
          display: none;
        }
      }

      &-message {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-dark-shade-scheme-2;
        font-weight: 700;
        margin-left: 1rem;

        svg {
          width: 2.2rem;
          height: 2.2rem;
          fill: $color-dark-shade-scheme-2;
          margin-right: 0.5rem;
        }
      }
    }
  }

  &-group {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    input {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 2rem 1.5rem;
      box-sizing: border-box;
      outline: none;
      font-weight: 300;
      font-size: 1.4rem;
      font-family: inherit;
      border: none;
      margin: 0.5rem 0.5rem 0.5rem 0;
      // text-transform: lowercase;
      // background-color: transparent;
      background-color: $color-light-shade-scheme-4;
      border-radius: 1.2rem;
      transition: all 0.5s ease-in-out;

      &:focus + .input-label {
        top: 5%;
      }
    }

    label {
      position: absolute;
      padding: 0rem 1.5rem;
      box-sizing: border-box;
      outline: none;
      font-size: 1.4rem;
      font-weight: 700;
      color: $color-scheme-1;
      top: 40%;
      transition: all 0.3s ease-in-out;
      font-size: 1.2rem;
      text-transform: lowercase;
    }

    div > svg {
      width: 3rem;
      height: 3rem;
      fill: $color-scheme-2;

      &:hover {
        cursor: pointer;
      }
    }

    &-list {
      position: absolute;
      top: 100%;
      width: 100%;
      font-size: 1.4rem;
      border-top: 0.1rem solid $color-light-shade-scheme-1;
      border: 0.1rem solid $color-light-shade-scheme-1;
      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      box-shadow: 0rem 1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
      z-index: 500;

      &-item {
        display: flex;
        align-items: center;
        padding: 0.8rem 2rem;
        font-size: inherit;
        background-color: white;
        text-transform: lowercase;

        &:last-child {
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          padding-bottom: 1.5rem;
        }

        svg {
          width: 2rem;
          height: 2rem;
          fill: $color-scheme-2;
          margin-right: 1rem;
          margin-left: 1rem;
        }

        &:hover {
          cursor: pointer;
          background-color: $color-light-shade-scheme-1;
        }
      }
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 1rem 2rem;
      margin: 2rem 0 1rem 0;
      border-radius: 3rem;
      font-size: 1.4rem;
      border: none;
      outline: none;
      color: white;
      background-color: $color-scheme-2;
      transition: all 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: $color-scheme-1;
        box-shadow: 0.3rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
      }

      svg {
        width: 3rem;
        height: 3rem;
        fill: white;
        margin-right: 1rem;
      }
    }

    &-image {
      width: 100%;
    }

    &-gallery {
      width: 100%;
      padding: 2rem 1rem;
      display: flex;
      flex-wrap: wrap;

      &-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 1rem;
        box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
        border-radius: 1.2rem;
        transition: all 0.5s ease-in-out;
        font-size: 1.2rem;
        font-weight: 400;
        height: min-content;
        margin-bottom: 1rem;
        position: relative;

        &:hover {
          cursor: pointer;
          box-shadow: 0.3rem 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.3);
        }
      }

      &-image {
        width: 100%;
        object-fit: cover;
        border-radius: 1.2rem;
      }

      span {
        position: absolute;
        top: 2%;
        right: 2%;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-scheme-2;
        border-radius: 50%;
        box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: $color-scheme-3;
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        fill: white;
      }
    }

    &-textarea {
      text-transform: lowercase;
      padding: 0.5rem 1.5rem;
      position: relative;

      textarea {
        overflow: hidden;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        resize: none;
        padding: 2rem 1rem;
        outline: none;
        box-sizing: border-box;
        font-size: 1.4rem;
        font-family: inherit;
        border: none;
        border-radius: 1.2rem;
        background-color: $color-light-shade-scheme-4;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.2rem;
          background-color: $color-scheme-1;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $color-scheme-1;
        }
      }

      label {
        position: absolute;
        display: flex;
        top: 15%;
        transition: all 0.3s ease-in-out;
        padding: 0 0.5rem;
        color: $color-scheme-1;
        font-size: 1.2rem;
      }
    }

    &-message {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 1.4rem;
      color: $color-scheme-1;
      padding: 0.5rem 0;

      svg {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }

    &-file {
      position: relative;

      input {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 2rem;
        box-sizing: border-box;
        outline: none;
        font-weight: 300;
        font-size: 1.4rem;
        font-family: inherit;
        border-radius: 1.2rem;
        margin: 0.5rem 0;
        position: relative;

        img {
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 2rem;
        }

        svg {
          width: 3rem;
          height: 3rem;
          fill: $color-scheme-1;
          margin-right: 1.5rem;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &-close {
        position: absolute;
        top: 10%;
        left: 3%;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-scheme-1;
        font-size: 1.8rem;
        font-weight: 500;
        color: white;

        svg {
          width: 1.5rem;
          height: 1.5rem;
          fill: white;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-checkbox {
      display: flex;
      align-items: center;
      width: max-content;
      height: 100%;
      padding: 1rem 1rem;

      label {
        width: 2.5rem;
        height: 2.5rem;
        border: 0.1rem solid $color-light-shade-scheme-1;
        background-color: white;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);

        &:hover {
          cursor: pointer;
        }
      }

      span {
        font-size: 1.4rem;
        margin-left: 1rem;
        font-weight: 400;
        color: $color-scheme-1;
      }

      input {
        display: none;

        &:checked + label {
          background-color: $color-scheme-2;
        }
      }
    }

    &-tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      padding: 0.5rem 2rem;
      height: auto;

      div {
        background-color: $color-scheme-2;
        border-radius: 1.2rem;
        color: white;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 700;
        position: relative;

        span {
          position: absolute;
          top: -0.8rem;
          right: -1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2rem;
          height: 2rem;
          background-color: $color-dark-shade-scheme-1;
          border-radius: 50%;
          font-size: 1rem;
          transition: all 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            background-color: $color-dark-shade-scheme-2;
          }
        }
      }
    }

    &-history {
      width: 100%;
      overflow-y: auto;
      padding: 1rem;
      border: solid 0.1rem $color-light-shade-scheme-2;
      border-radius: 1.2rem;
      max-height: 35rem;

      &::-webkit-scrollbar {
        width: 0.3rem;
        background-color: #757575;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-1;
      }

      &-item {
        margin: 0.5rem 0;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: $color-light-shade-scheme-1;

        &-details {
          font-size: 1.2rem;
          font-weight: 400;

          span {
            display: block;
            padding: 0 0.5rem;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  &-estimate {
    padding: 1rem 3rem;

    &-line {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      width: 100%;
      padding: 0.5rem 0.5rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: $color-light-shade-scheme-3;
      }

      svg {
        width: 3rem;
        height: 3rem;
        fill: $color-scheme-1;
      }

      div {
        margin-left: 3rem;
      }

      &-description {
        flex-grow: 1;
      }

      &-label {
        margin: 0.5rem 0 0 1rem;
        font-size: 1.2rem;
        color: $color-dark-shade-scheme-3;
      }

      &-total {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-size: 1.4rem;
        margin-top: 0.5rem;
        padding: 0.5rem 0rem;

        &:last-child {
          font-weight: 700;
          text-transform: uppercase;
        }

        span {
          text-align: right;
          min-width: 10rem;
          padding: 0 1rem;
          margin-left: 1rem;
          border-radius: 1.2rem;
          background-color: $color-light-shade-scheme-3;
          font-weight: 300;
        }
      }
    }
  }

  &-group-search {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    border-radius: 1.2rem;
    outline: none;
    border: none;
    width: auto;

    form {
      width: 40rem;

      @media only screen and (max-width: $small) {
        width: auto;
        flex-grow: 1;
      }
    }

    input {
      width: 100%;
      box-sizing: border-box;
      text-indent: 1rem;
      padding: 1rem;
      resize: none;
      outline: none;
      border: none;
      border-radius: 2rem;
      font-family: inherit;
    }

    &-hideOnMobile {
      @media only screen and (max-width: $small) {
        width: 100%;
        flex-grow: 1;
        display: none;
      }
    }
  }
}

////////////////////////////////////////////////////

///// FIELDS
.labelHover {
  top: 5% !important;
}

//// ERRORS
.red {
  color: red;
}

//// OTHERS

.selected {
  background-color: $color-scheme-1;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}

.react-calendar {
  width: 100% !important;
  border-radius: 1.2rem;
}

.react-colorful {
  width: 100% !important;
}

.modal-search {
  margin-left: 0.5rem !important;
  width: 50% !important;
}

.inputFieldWhite {
  margin-bottom: 1rem;

  input {
    background-color: white !important;
  }
}

//// MARGINS
.mbType1 {
  margin-bottom: 8rem !important;
}

.mbType2 {
  margin-bottom: 16rem !important;
}

.mbType3 {
  margin-bottom: 24rem !important;
}

.mtType1 {
  margin-top: 2rem !important;
}
