.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media only screen and (max-width: $large) {
    width: 100%;
    padding: 0 2rem;
  }

  &-title {
    align-self: flex-start;
    font-size: 2.8rem;
  }

  &-group-single {
    padding: 1.5rem 0 0 0;
    grid-column: 1/-1;
    width: 50rem;

    @media only screen and (max-width: $large) {
      width: 100%;
    }

    label {
      display: block;
      font-size: 1.2rem;
      padding: 0.5rem 0;
    }

    input {
      padding: 0.8rem 0;
      width: 100%;
      font-size: 1.4rem;
      text-indent: 1rem;
      border: 0.1rem solid $color-light-shade-scheme-1;
      box-shadow: 0 0.5px 1px rgb(219, 219, 219);
      border-radius: 0.4rem;
      transition: all 0.5s;

      &:focus {
        outline: none;
        border: 0.1rem solid $color-scheme-1;
        box-shadow: 0 0 1px 1px rgba(14, 120, 241, 0.5);
      }
    }

    &-quill {
      color: black !important;
    }
  }

  &-button {
    width: 100%;
    margin: 2.5rem 0;
    background-color: $color-scheme-1;
    padding: 1rem 0;
    color: white;
    border-color: transparent;
    font-size: 1.5rem;
    border-radius: 0.4rem;

    &:hover {
      cursor: pointer;
    }
  }

  &-button-fit {
    width: max-content;
    margin: 2.5rem 0;
    background-color: $color-scheme-2;
    padding: 1rem 2rem;
    color: white;
    border-color: transparent;
    font-size: 1.5rem;
    border-radius: 0.4rem;

    &:hover {
      cursor: pointer;
    }
  }

  &-group-double {
    padding: 1.5rem 0 0 0;
    width: 100%;
    display: flex;

    @media only screen and (max-width: $large) {
      width: 100%;
      display: block;
    }

    &-item {
      width: 100%;

      label {
        display: block;
        font-size: 1.2rem;
        padding: 0.5rem 0;
        width: 100%;
      }

      input {
        padding: 0.8rem 0;
        width: 100%;
        font-size: 1.4rem;
        text-indent: 1rem;
        border: 0.1rem solid $color-light-shade-scheme-1;
        box-shadow: 0 0.5px 1px rgb(219, 219, 219);
        border-radius: 0.4rem;
        transition: all 0.5s;

        &:focus {
          outline: none;
          border: 0.1rem solid $color-scheme-1;
        }
      }

      &:first-child {
        margin-right: 1rem;
        width: calc(100% - 2rem) !important;

        @media only screen and (max-width: $large) {
          width: 100% !important;
        }
      }
    }

    &-image {
      label {
        display: block;
      }

      img {
        object-fit: contain;
        width: 25%;
        height: auto;
        image-rendering: pixelated;
      }
    }
  }

  &-group-double-dropdown {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1rem);
    margin: 0rem 1rem 2rem 0;

    @media only screen and (max-width: $large) {
      width: 100%;
      margin: 0 0 2rem 0;
    }

    label {
      font-size: 1.6rem;
      margin: 1rem 0;
    }

    &-input {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      display: flex;
      align-items: center;
      position: relative;
      border: 0.1rem solid $color-light-shade-scheme-1;

      textarea {
        flex-grow: 1;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        resize: none;
        padding: 1.2rem 2rem 0 2rem;
        outline: none;
        font-size: 1.4rem;
        font-family: inherit;
        border: none;
      }

      svg {
        width: 3rem;
        height: 3rem;

        &:hover {
          cursor: pointer;
        }

        // &:first-child {
        //   width: 2rem;
        //   height: 2rem;
        //   fill: white;
        //   background-color: $color-scheme-2;
        //   border-radius: 50%;

        //   &:hover {
        //     cursor: initial;
        //   }
        // }
      }

      &-list {
        position: absolute;
        top: 100%;
        width: 100%;
        font-size: 1.4rem;
        border-top: 0.1rem solid $color-light-shade-scheme-1;
        border: 0.1rem solid $color-light-shade-scheme-1;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        box-shadow: 0rem 1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
        z-index: 100;

        &-item {
          display: flex;
          align-items: center;
          padding: 0.8rem 2rem;
          font-size: inherit;
          background-color: white;
          text-transform: capitalize;

          &:last-child {
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            padding-bottom: 1.5rem;
          }

          svg {
            width: 2rem;
            height: 2rem;
            fill: $color-scheme-2;
            margin-right: 1rem;
          }

          &:hover {
            cursor: pointer;
            background-color: $color-light-shade-scheme-1;
          }
        }
      }
    }
  }

  &-group-triple {
    display: flex;
    flex-direction: column;
    width: calc(33% - 1rem);
    margin: 0rem 1rem 2rem 0;

    &-title {
      font-size: 1.6rem;
      margin: 1rem 0;
      width: 100%;
      justify-self: flex-start;
    }

    @media only screen and (max-width: $large) {
      width: 100%;
      margin: 0 0 2rem 0;
    }

    label {
      font-size: 1.6rem;
      margin: 1rem 0;
    }

    &-upload {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      @media only screen and (max-width: $wide) {
        width: calc(67% - 1rem);
      }

      @media only screen and (max-width: $large) {
        width: 100%;
        margin: 2rem 0;
      }

      &-add {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 0.2rem dashed $color-dark-shade-scheme-1;
        border-radius: 0.5rem;
        width: 100%;
        height: 100%;
        font-size: 2.4rem;
        font-weight: 400;

        svg {
          width: 8rem;
          height: 8rem;
          fill: $color-scheme-1;
        }

        &:hover {
          cursor: pointer;
        }

        @media only screen and (max-width: $large) {
          height: 35rem;
        }
      }

      input {
        display: none;
      }

      &-more {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2.4rem;
        font-weight: 400;

        svg {
          width: 8rem;
          height: 8rem;
          fill: $color-scheme-1;
        }

        &:hover {
          cursor: pointer;
        }

        @media only screen and (max-width: $large) {
          height: 100%;
        }
      }

      &-item {
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 1.4rem;
        text-transform: lowercase;

        &:first-child {
          grid-row: 1/2;
          grid-column: 1/-1;
        }

        &-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, max-content);
          padding: 0 2rem;
        }

        svg {
          width: 5rem;
          height: 5rem;
          fill: $color-scheme-1;
          margin-right: 2rem;
        }

        @media only screen and (max-width: $large) {
          margin: 0 0 1.5rem 3rem;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 25rem;
        }

        a {
          margin-left: 1rem;
        }

        span {
          margin-left: 1rem;
        }
      }
    }

    button {
      padding: 1rem 2rem;
      font-size: 1.4rem;
      outline: none;
      border: none;
      border-radius: 0.5rem;
      color: white;
      background-color: $color-scheme-1;

      &:hover {
        cursor: pointer;
      }
    }

    a {
      margin: 0 auto;

      @media only screen and (max-width: $large) {
        width: 100%;
      }
    }

    &-image {
      min-width: 288px;
      height: 100%;
      margin: 0 auto;
      padding: 1rem 0;

      @media only screen and (max-width: $large) {
        min-width: 288px;
        height: 100%;
      }
    }

    &-input {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      display: flex;
      align-items: center;
      position: relative;
      border: 0.1rem solid $color-light-shade-scheme-1;

      textarea {
        flex-grow: 1;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        resize: none;
        padding: 1.2rem 2rem 0 2rem;
        outline: none;
        font-size: 1.4rem;
        font-family: inherit;
        border: none;
      }

      svg {
        width: 3rem;
        height: 3rem;

        &:hover {
          cursor: pointer;
        }
      }

      &-list {
        position: absolute;
        top: 100%;
        width: 100%;
        font-size: 1.4rem;
        border-top: 0.1rem solid $color-light-shade-scheme-1;
        border: 0.1rem solid $color-light-shade-scheme-1;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        box-shadow: 0rem 1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
        z-index: 100;

        &-item {
          display: flex;
          align-items: center;
          padding: 0.8rem 2rem;
          font-size: inherit;
          background-color: white;

          &:last-child {
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            padding-bottom: 1.5rem;
          }

          svg {
            width: 2rem;
            height: 2rem;
            fill: $color-scheme-2;
            margin-right: 1rem;
          }

          &:hover {
            cursor: pointer;
            background-color: $color-light-shade-scheme-1;
          }
        }
      }
    }

    &-button {
      &-list {
        width: calc(33% - 1rem);
        margin: 1rem 2rem;

        @media only screen and (max-width: $large) {
          width: 100%;
          margin: 0;
        }

        label {
          font-size: 1.6rem;
        }

        &-item {
          text-align: center;
          width: 35rem;
          color: white;
          margin: 1.5rem 0 1.5rem 0;
          font-size: 1.4rem;
          padding: 2rem 2rem;
          border-radius: 1.2rem;
          background-color: $color-scheme-1;
          position: relative;
          transition: all 0.5s ease-in-out;

          @media only screen and (max-width: $large) {
            width: 100%;
          }

          &:hover {
            background-color: $color-scheme-2;
            cursor: pointer;
          }
        }
      }
    }

    &-qr {
      display: flex;
      flex-direction: column;
      width: calc(33% - 1rem);
      align-items: center;

      @media only screen and (max-width: $large) {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
      }

      label {
        font-size: 1.6rem;
        margin: 1rem 0;
      }

      button {
        width: 80%;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        outline: none;
        border: none;
        border-radius: 0.5rem;
        color: white;
        background-color: $color-scheme-1;

        @media only screen and (max-width: $large) {
          width: 100%;
        }

        &:hover {
          cursor: pointer;
        }
      }

      a {
        margin: 0 auto;

        @media only screen and (max-width: $large) {
          width: 100%;
        }
      }

      &-image {
        justify-self: center;
        max-width: 288px;
        height: 100%;
        padding: 1rem 0;

        @media only screen and (max-width: $extra-large) {
          max-width: 200px;
          height: auto;
        }

        @media only screen and (max-width: $large) {
          min-width: 288px;
          height: 100%;
        }

        &-2 {
          justify-self: center;
          max-width: 288px;
          height: 30rem;
          padding: 1rem 0;

          @media only screen and (max-width: $extra-large) {
            max-width: 200px;
            height: auto;
          }

          @media only screen and (max-width: $large) {
            min-width: 288px;
            height: 30rem;
          }
        }
      }
    }
  }

  &-group-triple-dropdown {
    display: flex;
    flex-direction: column;
    width: calc(33% - 1rem);
    margin: 0rem 1rem 2rem 0;

    @media only screen and (max-width: $large) {
      width: 100%;
      margin: 0 0 2rem 0;
    }

    label {
      font-size: 1.6rem;
      margin: 1rem 0;
    }

    &-input {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      display: flex;
      align-items: center;
      position: relative;
      border: 0.1rem solid $color-light-shade-scheme-1;

      textarea {
        flex-grow: 1;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        resize: none;
        padding: 1.2rem 2rem 0 2rem;
        outline: none;
        font-size: 1.4rem;
        font-family: inherit;
        border: 0.1rem solid transparent;
      }

      svg {
        width: 3rem;
        height: 3rem;

        &:hover {
          cursor: pointer;
        }
      }

      &-list {
        position: absolute;
        top: 100%;
        width: 100%;
        font-size: 1.4rem;
        border-top: 0.1rem solid $color-light-shade-scheme-1;
        border: 0.1rem solid $color-light-shade-scheme-1;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        box-shadow: 0rem 1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
        z-index: 100;

        &-item {
          display: flex;
          align-items: center;
          padding: 0.8rem 2rem;
          font-size: inherit;
          background-color: white;

          &:last-child {
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            padding-bottom: 1.5rem;
          }

          svg {
            width: 2rem;
            height: 2rem;
            fill: $color-scheme-2;
            margin-right: 1rem;
          }

          &:hover {
            cursor: pointer;
            background-color: $color-light-shade-scheme-1;
          }
        }
      }
    }
  }

  &-button {
    width: 25%;
    padding: 1rem 2rem;
    font-size: 1.8rem;

    @media only screen and (max-width: $large) {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
    }

    &-container {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 2rem 0;

      @media only screen and (max-width: $large) {
        display: block;
        justify-content: center;
      }
    }
  }

  &-message {
    font-size: 1.4rem;
    color: $color-scheme-1;
    width: 50rem;
    text-align: center;

    @media only screen and (max-width: $large) {
      width: 25rem;
    }
  }

  &-error {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 1.4rem;
    color: red;

    svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: red;
      margin: 0 1rem 0 1rem;
    }

    @media only screen and (max-width: $large) {
      width: 100%;
    }

    &-container {
      width: max-content;
    }
  }

  &-group-single-textarea {
    padding: 1.5rem 0 0 0;
    width: 100%;

    label {
      display: block;
      font-size: 1.8rem;
      padding: 1rem;
    }

    &-field {
      textarea {
        width: 100%;
        border-radius: 1rem;
        resize: none;
        padding: 1.2rem 2rem 0 2rem;
        box-sizing: border-box;
        outline: none;
        font-size: 1.4rem;
        font-family: inherit;
        border: none;
      }
    }

    &-dropdown {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0rem 1rem 2rem 0;

      @media only screen and (max-width: $large) {
        width: 100%;
        margin: 0 0 2rem 0;
      }

      label {
        font-size: 1.6rem;
        margin: 1rem 0;
      }

      &-input {
        border-radius: 1.2rem;
        display: flex;
        align-items: center;
        position: relative;
        border: 0.1rem solid $color-light-shade-scheme-1;
        background-color: white;

        textarea {
          border-radius: 1.2rem;
          flex-grow: 1;
          resize: none;
          padding: 1.2rem 2rem 0 2rem;
          outline: none;
          font-size: 1.4rem;
          font-family: inherit;
          border: none;
        }

        svg {
          width: 3rem;
          height: 3rem;

          &:hover {
            cursor: pointer;
          }
        }

        &-list {
          position: absolute;
          top: 100%;
          width: 100%;
          font-size: 1.4rem;
          border-top: 0.1rem solid $color-light-shade-scheme-1;
          border: 0.1rem solid $color-light-shade-scheme-1;
          border-bottom-right-radius: 1rem;
          border-bottom-left-radius: 1rem;
          box-shadow: 0rem 1rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
          z-index: 100;
          max-height: 30rem;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 0.3rem;
            height: 0.3rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $color-scheme-1;
          }

          &-item {
            display: flex;
            align-items: center;
            padding: 0.8rem 2rem;
            font-size: inherit;
            background-color: white;

            &:last-child {
              border-bottom-right-radius: 0.5rem;
              border-bottom-left-radius: 0.5rem;
              padding-bottom: 1.5rem;
            }

            svg {
              width: 2rem;
              height: 2rem;
              fill: $color-scheme-2;
              margin-right: 1rem;
            }

            &:hover {
              cursor: pointer;
              background-color: $color-light-shade-scheme-1;
            }
          }
        }
      }
    }
  }
}

// BORDERS
.border_bottom {
  border-bottom: 0.1rem solid $color-light-shade-scheme-1;
  font-weight: 700;
}

// INPUT FIELDS ADJUSTMENTS
.units {
  width: 100%;
  position: relative;

  &::before {
    content: 'X';
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    width: min-content;
    height: 100%;
    font-size: 1.4rem;
    color: $color-light-shade-scheme-2;
  }

  span {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(50% - 0.6rem);
      width: 0.1rem;
      height: 25%;
      font-size: 1.4rem;
      background-color: $color-light-shade-scheme-1;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(50% - 0.6rem);
      width: 0.1rem;
      height: 25%;
      font-size: 1.4rem;
      background-color: $color-light-shade-scheme-1;
    }
  }
}

// ICONS
.dollar {
  width: 2rem !important;
  height: 2rem !important;
  margin-left: 0.5rem;
  padding: 0 0 0.2rem 0;

  &-input {
    padding: 1.2rem 2rem 0 1rem !important;
  }
}

// ERRORS
.red {
  border: 0.1rem solid red !important;
}

.error-svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: red;
  margin: 0 1rem 0 1rem;
}

// BUTTONS
.selected {
  background-color: $color-scheme-2;
  transform: scale(1.05);
}

.edit {
  background-color: $color-scheme-1;
  animation: slideFromRight 0.5s ease-in-out;
}

.delete {
  background-color: red;
  animation: slideFromRight 0.5s ease-in-out;
}

.clear-field {
  font-weight: 800;
}

.w100 {
  text-align: center;
  width: 100% !important;
  box-sizing: border-box;
}
