.hide {
  &-sidenav {
    width: 0 !important;
    transform: translateX(-100%);

    &-menu {
      background-color: var(--color-dark-shade-scheme-1);

      &-item {
        width: 100%;
      }
    }

    &-items {
      font-size: 0 !important;
      width: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      height: 0 !important;
      transition: all 0.5s ease-in-out;

      img {
        width: 0;
        height: 0;
      }
    }

    &-dropdown {
      font-size: 0 !important;
      width: 0 !important;
      height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
