#element {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  height: 840px;
  padding: 2rem;
  border-radius: 1.2rem;
  box-shadow: .5rem .3rem 1rem .5rem rgba(0,0,0, .3);
  display: none;
  
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: #757575;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-scheme-1;
  }

  @media only screen and (max-width: $medium){
    width: 100%;
    height: 100%;
  }
  
}

#pdf {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 1rem 0;

  @media only screen and (max-width: $medium){
    width: 100%;
    height: 100%;
  }
  
}

.pdf {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 1rem 1rem;
  
  &-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: $medium){
      margin: 1rem;
      width: 100%;
      height: 100%;
    }
  }
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-left {
  text-align: left;
}