.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5rem;
  width: 80%;

  &-title {
    justify-self: left;
    width: 100%;
    display: flex;
    align-items: center;

    &-image {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      margin-right: 3rem;
    }

    span {
      font-size: 2.8rem;
      font-weight: 700;
    }
  }

  &-box {
    margin: 3rem 0;
    padding: 1rem 0rem;
    display: flex;
    width: 100%;

    @media only screen and (max-width: $large) {
      flex-direction: column-reverse;
    }

    &-billing {
      width: 40%;
      padding: 1rem 2rem;
      background-color: $color-light-shade-scheme-4;
      border-radius: 1.2rem;

      &-title {
        font-size: 2rem;
        font-weight: 500;
      }

      &-form {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
      }

      @media only screen and (max-width: $large) {
        width: 100%;
      }
    }

    &-newDeposit {
      display: flex;
      align-items: center;

      &-option {
        padding: 1rem 2rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        background-color: $color-scheme-2;
        border-radius: 1.2rem;
        font-size: 1.2rem;
        color: white;
        font-weight: 500;
        transition: all 0.5s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: $color-scheme-1;
        }
      }
    }

    &-summary {
      width: 60%;
      margin-left: 2rem;
      border: 0.2rem solid $color-light-shade-scheme-3;
      border-radius: 1.2rem;
      padding: 1rem 0;
      color: $color-dark-shade-scheme-3;
      max-height: 100rem;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0.3rem;
        background-color: $color-light-shade-scheme-4;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-1;
      }

      &-title {
        padding: 2rem;
        font-size: 1.8rem;
        font-weight: 400;
      }

      &-quote {
        padding: 0 3rem;

        &-svg {
          width: 3rem;
          height: 3rem;
          fill: $color-scheme-1;
        }
      }

      @media only screen and (max-width: $large) {
        width: 100%;
        margin-left: 0;
        margin-bottom: 2rem;
      }
    }
  }
}

.StripeElement {
  margin-top: 0rem !important;
  padding: 1rem !important;
  background-color: white;
  border-radius: 1.2rem !important;
}

.depositMessage {
  font-size: 1.2rem !important;
  text-align: right;
  padding: 0 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
}
