.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15rem 0;

  &-logo {
    font-size: 4.2rem;
    font-weight: 800;
    color: $color-scheme-1;
    margin: 3rem 0;
    font-style: italic;
  }

  &-title {
    font-size: 1.8rem;
  }
}
