.forgotPassword-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &-box {
    padding: 1rem 2rem;
    box-sizing: content-box;
    background-color: var(--color-light-shade-scheme-1);
    width: 40%;
    height: 40rem;
    border-radius: 1.2rem;

    @media only screen and (max-width: $extra-large) {
      width: 70%;
    }

    @media only screen and (max-width: $small) {
      width: 90%;
    }

    &-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 2.2rem;
      padding: 1rem 0;

      svg {
        width: 2rem;
        height: 2rem;
        fill: black;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          fill: var(--color-scheme-1);
        }
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-size: 2.4rem;
      text-align: center;
      margin: 1rem 0;
    }
  }
}

.addFieldItems-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000 !important;

  &-box {
    margin: 0 auto;
    z-index: 2000 !important;
    background-color: var(--color-light-shade-scheme-3);
    width: 40%;
    padding: 0 0 2rem 0;
    border-radius: 1.2rem;

    @media only screen and (max-width: $extra-large) {
      width: 70%;
    }

    @media only screen and (max-width: $small) {
      width: 90%;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.2rem;
      padding: 1rem 2rem;
      background-color: var(--color-dark-shade-scheme-4);
      color: var(--color-light-shade-scheme-4);
      border-top-right-radius: 1.2rem;
      border-top-left-radius: 1.2rem;

      &-right {
        display: flex;
        align-items: center;
         
        div {
          margin-left: 1.5rem;
        }
      }

      &-left {
        display: flex;
        align-items: center;
         
        // div {
        //   margin-left: 1.5rem;
        // }
      }

      svg {
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-light-shade-scheme-4);
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          fill: var(--color-scheme-1);
        }
      }
    }

    &-footer {
      width: 100%;
      padding: 0 3rem;
    }
  }

  &-form {
    width: 100%;
    padding: 2rem;
    max-height: 60vh;
    overflow-y: scroll;
    position: relative;

    &::-webkit-scrollbar {
      width: 0.3rem;
      height: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-scheme-1);
    }

    &-container {

      &-searchList {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        min-height: 22rem;
        padding: 1rem 2rem;
        z-index: 500;
        background-color: var(--color-light-shade-scheme-3);

        &-container {
          margin: 0.5rem 0;
          max-height: 100rem;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 0.3rem;
            height: 0.3rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--color-scheme-1);
          }
        }

        &-categories {
          display: flex;

          &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
              width: 2rem;
              height: 2rem;
              fill: var(--color-dark-shade-scheme-1);

              &:hover {
                cursor: pointer;
                fill: var(--color-scheme-1);
              }
            }
          }

          &-item {
            padding: 0.5rem 2rem;
            border-radius: 1.2rem;
            background-color: var(--color-dark-shade-scheme-1);
            color: var(--color-light-shade-scheme-1);
            font-weight: 700;
            margin-right: 0.5rem;

            &:hover {
              background-color: var(--color-light-shade-scheme-1);
              color: var(--color-dark-shade-scheme-1);
              cursor: pointer;
              font-weight: 700;
            }
          }
        }

        &-header {
          font-size: 1.6rem;
          width: 100%;
          padding: 0.5rem 1rem;
          color: var(--color-dark-shade-scheme-1);
          border-bottom: 0.2rem solid var(--color-dark-shade-scheme-1);
        }

        &-table {
          &-header {
            padding: 0.5rem 1rem;
            
            &-item {
              display: flex;
              align-items: center;
              font-size: 1.6rem;
              background-color: var(--color-scheme-3);
              padding: .5rem 1rem;
              border-radius: .2rem;
              color: white;

              svg {
                width: 2rem;
                height: 2rem;
                fill: var(--color-scheme-2);
              }

              &:hover {
                cursor: pointer;
              }
              
            }
          }
        }

        &-list {
          max-height: 50rem;
          
          &-item {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            margin: 0 1rem;
            width: 90%;
            text-transform: capitalize;
            color: var(--color-dark-shade-scheme-1);

            &:hover {
              background-color: var(--color-dark-shade-scheme-1);
              color: var(--color-light-shade-scheme-1);
              cursor: pointer;
              font-weight: 700;
            }
          }
        }
      }
    }

    &-title {
      font-size: 2.4rem;
      text-align: center;
      margin: 1rem 0;
      display: flex;
      align-items: center;

      @media only screen and (max-width: $medium) {
        font-size: 1.6rem;
      }

      span {
        margin-left: 2rem;

        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &-options {
      display: flex;
      align-items: center;
      margin: 0 2rem;
      padding: 1rem;
    }
  }

  &-message {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 0 0;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 0 2rem;
  }

  &-unformatted {
    display: flex;
    margin: 1rem 2.5rem;
    align-items: center;
    position: relative;

    &-title {
      font-size: 1.2rem;

      span {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    svg {
      margin-left: 1rem;
      width: 3rem;
      height: 3rem;
      fill: var(--color-scheme-2);

      &:hover {
        cursor: pointer;
      }
    }
    
  }
}

.categoryClicked {
  background-color: var(--color-scheme-1);
  color: white;
  font-weight: 700;
}

.overlay-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2000 !important;

  &-svg {
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: .1rem solid var(--color-scheme-1);
    
    svg {
      width: 5rem;
      height: 5rem;
      fill: var(--color-scheme-1);
    }
  }

  &-text {
    text-align: center;
    width: 20%;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: white;

    &-subtitle {
      font-size: 1.4rem;
      color: white;
      margin: 0 0 1rem 0;
    }
  }
  
  &-button {
    width: max-content;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1.2rem;
    transition: all .5s;

    &:hover {
      cursor: pointer;
      background-color: var(--color-scheme-1);
      color: white;
    }
    
  }
}