.forgotPassword-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &-box {
    padding: 1rem 2rem;
    box-sizing: content-box;
    background-color: $color-light-shade-scheme-1;
    width: 40%;
    height: 40rem;
    border-radius: 1.2rem;

    @media only screen and (max-width: $extra-large) {
      width: 70%;
    }

    @media only screen and (max-width: $small) {
      width: 90%;
    }

    &-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 2.2rem;
      padding: 1rem 0;

      svg {
        width: 2rem;
        height: 2rem;
        fill: black;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          fill: $color-scheme-1;
        }
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-size: 2.4rem;
      text-align: center;
      margin: 1rem 0;
    }
  }
}

.addFieldItems-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000 !important;

  &-box {
    z-index: 2000 !important;
    background-color: $color-light-shade-scheme-3;
    width: 40%;
    padding: 0 0 2rem 0;
    border-radius: 1.2rem;
    // overflow-y: scroll;

    // &::-webkit-scrollbar {
    //   width: 0.3rem;
    //   height: 0.3rem;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: $color-scheme-1;
    // }

    @media only screen and (max-width: $extra-large) {
      width: 70%;
    }

    @media only screen and (max-width: $small) {
      width: 90%;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.2rem;
      padding: 1rem 2rem;
      background-color: $color-dark-shade-scheme-4;
      color: white;
      border-top-right-radius: 1.2rem;
      border-top-left-radius: 1.2rem;

      svg {
        width: 2rem;
        height: 2rem;
        fill: white;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          fill: $color-scheme-1;
        }
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0rem 2rem;

    &-container {
      max-height: 60vh;
      overflow-y: scroll;
      position: relative;

      &::-webkit-scrollbar {
        width: 0.3rem;
        height: 0.3rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-1;
      }

      &-searchList {
        position: absolute;
        width: 100%;
        padding: 1rem 2rem;
        z-index: 500;
        background-color: white;

        &-container {
          margin: 0.5rem 0;
          max-height: 20rem;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 0.3rem;
            height: 0.3rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $color-scheme-1;
          }
        }

        &-categories {
          display: flex;

          &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            svg {
              width: 2rem;
              height: 2rem;
              fill: black;

              &:hover {
                cursor: pointer;
                fill: $color-scheme-1;
              }
            }
          }

          &-item {
            padding: 0.5rem 2rem;
            border-radius: 1.2rem;
            background-color: $color-light-shade-scheme-1;
            font-weight: 700;
            margin-right: 0.5rem;

            &:hover {
              background-color: $color-scheme-1;
              color: white;
              cursor: pointer;
              font-weight: 700;
            }
          }
        }

        &-header {
          font-size: 1.6rem;
          width: 100%;
          padding: 0.5rem 1rem;
          border-bottom: 0.2rem solid $color-light-shade-scheme-1;
        }

        &-list {
          &-item {
            font-size: 1.2rem;
            padding: 0.5rem 1rem;
            margin: 0 1rem;
            width: 90%;

            &:hover {
              background-color: $color-scheme-1;
              color: white;
              cursor: pointer;
              font-weight: 700;
            }
          }
        }
      }
    }

    &-title {
      font-size: 2.4rem;
      text-align: center;
      margin: 1rem 0;
      display: flex;
      align-items: center;

      @media only screen and (max-width: $medium) {
        font-size: 1.6rem;
      }

      span {
        margin-left: 2rem;

        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    &-options {
      display: flex;
      align-items: center;
      margin: 0 2rem;
      padding: 1rem;
    }
  }

  &-message {
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 0 0;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 0 2rem;
  }
}

.categoryClicked {
  background-color: $color-scheme-1;
  color: white;
  font-weight: 700;
}
