.forgotPassword-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &-box {
    padding: 1rem 2rem;
    box-sizing: content-box;
    background-color: $color-light-shade-scheme-1;
    width: 40%;
    height: 40rem;
    border-radius: 1.2rem;

    @media only screen and (max-width: $extra-large) {
      width: 70%;
    }

    @media only screen and (max-width: $small) {
      width: 90%;
    }

    &-header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 2.2rem;
      padding: 1rem 0;

      svg {
        width: 2rem;
        height: 2rem;
        fill: black;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          fill: $color-scheme-1;
        }
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-size: 2.4rem;
      text-align: center;
      margin: 1rem 0;
    }
  }
}

.addFieldItems-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &-box {
    background-color: $color-light-shade-scheme-1;
    width: 40%;
    min-height: min-content;
    max-height: 90%;
    padding: 0 0 2rem 0;
    border-radius: 1.2rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.3rem;
      height: 0.3rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-scheme-1;
    }

    @media only screen and (max-width: $extra-large) {
      width: 70%;
    }

    @media only screen and (max-width: $small) {
      width: 90%;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.2rem;
      padding: 1rem 3rem;
      background-color: $color-dark-shade-scheme-3;
      color: white;
      border-top-right-radius: 1.2rem;
      border-top-left-radius: 1.2rem;

      svg {
        width: 2rem;
        height: 2rem;
        fill: white;
        transition: all 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          fill: $color-scheme-1;
        }
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;

    &-title {
      font-size: 2.4rem;
      text-align: center;
      margin: 1rem 0;
    }
  }
}
