.table {
  flex-grow: 1;
  width: 80% !important;
  max-width: 100%;
  margin: 2rem;
  padding-bottom: 1rem;
  border: 0.1rem solid var(--color-light-shade-scheme-2);
  background-color: var(--color-light-shade-scheme-1);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  height: max-content;

  &-stack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 0;

    & > .table {
      width: 120% !important;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    height: 5rem;
    background-color: var(--color-light-shade-scheme-2);
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;

    @media only screen and (max-width: $large){
      height: 8rem;
    }

    &-title {
      font-size: 1.6rem;
      color: var(--color-dark-shade-scheme-1);
      font-weight: 700;
      text-transform: uppercase;
    }

    &-controls {
      display: flex;
      justify-content: center;
      margin-left: 1rem;
      padding: .5rem;
      overflow-x: auto;

      &::-webkit-scrollbar {
        width: 0.5rem;
        height: .6rem;
        background-color: #757575;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-scheme-1);
      }

      &-item {
        width: max-content;
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        background-color: var(--color-dark-shade-scheme-3);
        color: var(--color-light-shade-scheme-1);
        font-weight: 400;
        font-size: 1.4rem;
        margin-right: 1rem;
        transition: all 0.3s ease-in-out;

        @media only screen and (max-width: $large){
          min-width: max-content;
          margin: 0 1rem 1.2rem 0;
        }

        &:hover {
          cursor: pointer;
          box-shadow: 0rem 0.3rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
        }

        &-svg {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 4.5rem;
          height: 3.5rem;
          margin-right: 1rem;
          border-radius: 1.2rem;
          background-color: var(--color-dark-shade-scheme-3);
          transition: all 0.5s ease-in-out;
          z-index: 2000;
          position: relative;

          &:hover {
            cursor: pointer;
            box-shadow: 0rem 0.3rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          }

          svg {
            width: 2rem;
            height: 2rem;
            fill: var(--color-light-shade-scheme-1);
            z-index: 1;
          }

          span {
            position: absolute;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: all 0.5s ease-in-out;
    
            &:hover {
              cursor: pointer;
            }

            svg {
              width: 2rem;
              height: 2rem;
              fill: var(--color-light-shade-scheme-1);
            }
          }

        }
      }
    }

    &-error {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      font-size: 1.4rem;
      color: white;

      svg {
        width: 3rem;
        height: 3rem;
        fill: white;
      }

      span {
        margin-left: 1rem;
      }
    }
  }

  &-headers {
    display: flex;
    padding: 1rem 0;
    background-color: var(--color-light-shade-scheme-3);
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 0.3rem;
      width: 0.5rem;
      background-color: var(--color-dark-shade-scheme-3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-scheme-1);
    }

    &-item {
      overflow: hidden;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      padding: 0 1rem;
      min-width: 11rem;
      max-width: 11rem;
      color: var(--color-dark-shade-scheme-1);
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-transform: capitalize;

      &:first-child {
        width: 3rem;
        min-width: 5rem;
        max-width: 5rem;
      }

      span {
        display: flex;
        // align-items: center;
        justify-content: center;
        width: 100%;
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: var(--color-dark-shade-scheme-3);
        margin-left: 0.5rem;
        margin-bottom: 0.2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-headers-modal {
    display: flex;
    padding: 1rem 0;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 0.3rem;
      width: 0.5rem;
      background-color: var(--color-dark-shade-scheme-3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-scheme-1);
    }

    &-item {
      overflow: hidden;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      padding: 0 1rem;
      min-width: 11rem;
      max-width: 11rem;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-transform: capitalize;

      span {
        display: flex;
        // align-items: center;
        justify-content: center;
        width: 100%;
      }

      svg {
        width: 1.2rem;
        height: 1.2rem;
        fill: var(--color-scheme-2);
        margin-left: 0.5rem;
        margin-bottom: 0.2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-rows {
    display: flex;

    &-container {
      width: 100%;
      padding: 0;
      min-height: 15rem;
      max-height: 100rem;
      overflow-x: auto;
      overflow-y: hidden;
      position: relative;

      &:last-child {
        padding-bottom: 10rem;
      }

      &::-webkit-scrollbar {
        height: 0.3rem;
        width: 0.5rem;
        background-color: var(--color-dark-shade-scheme-3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--color-scheme-1);
      }
    }

    &-checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      min-width: 5rem;
      max-width: 5rem;

      label {
        display: grid;
        font-size: 1.6rem;
        position: relative;
        border-radius: 0.5rem;

        input[type='checkbox'] {
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 0.5rem;
          border: 0.1rem solid var(--color-dark-shade-scheme-1);
          cursor: pointer;
          opacity: 0;
          z-index: 100;

          &:checked ~ div > svg {
            display: block;
          }
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 1rem;
          border: 0.2rem solid var(--color-dark-shade-scheme-1);
        }

        div {
          position: absolute;
          top: 0;
          left: 0;
          height: 2.5rem;
          width: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            height: 2rem;
            width: 2rem;
            fill: var(--color-dark-shade-scheme-1);
            display: none;
          }
        }
      }
    }

    &-item {
      // overflow: hidden;
      font-size: 1.2rem;
      font-weight: 300;
      // padding: 0 1rem;
      min-width: 11rem;
      max-width: 11rem;
      max-height: 12rem;
      text-align: center;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      -webkit-line-clamp: 4;
      color: var(--color-dark-shade-scheme-1);

      img {
        width: 10rem;
        height: 10rem;
        box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
        background-color: white;
        border-radius: 1.2rem;
        object-fit: cover;
      }

      svg {
        width: 90%;
        height: 90%;
        fill: var(--color-light-shade-scheme-1);
        background-color: var(--color-dark-shade-scheme-1);
        box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
        border-radius: 1.2rem;
        object-fit: cover;
      }

      &-color {
        display: block;
        float: left;
        width: 2rem;
        height: 2rem;
        // border-radius: 50%;
        margin-right: 0.5rem;
      }

      &-dropdown {
        position: relative;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--color-dark-shade-scheme-1);
          min-width: 8rem;
          color: var(--color-light-shade-scheme-1);
          padding: 0.5rem 1rem;
          transition: all 0.5s ease-in-out;

          svg {
            width: 2rem;
            height: 2rem;
            fill: var(--color-scheme-2);
          }

          &:hover {
            cursor: pointer;
          }
        }

        &-items {
          position: absolute;
          top: 100%;
          width: 100%;
          max-height: 10rem;
          background-color: var(--color-dark-shade-scheme-3);
          overflow-y: scroll;
          z-index: 5000;
          overflow-x: auto;


          &::-webkit-scrollbar {
            width: 0.3rem;
            height: .5rem;

          }

          &::-webkit-scrollbar-thumb {
            background-color: var(--color-scheme-3);

          }

          &-item {
            width: max-content;
            height: 100%;
            font-size: 1.4rem;
            background-color: var(--color-dark-shade-scheme-3);
            color: var(--color-light-shade-scheme-1);
            padding: 0.5rem 1rem;
            z-index: 5000;
            transition: all 0.3s ease-in-out;
            
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &-purchaseOrderLine {
    display: flex;
    
    &-item {
      display: flex;
      
      &-qty {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem;
        min-width: 13rem;
        max-width: 13rem;

        input {
          min-width: 3rem;
          width: 3rem;
          height: 2.5rem;
          margin-left: 2rem;
          border-radius: .3rem;
          box-sizing: border-box;
          padding-left: .5rem;
          border: .1rem solid var(--color-scheme-3);
          outline: none;
        }

        span {
          margin-left: 1rem;
        }
        
      }

      &-description {
        display: flex;
        align-items: center;
        overflow: hidden;
        font-size: 1.2rem;
        padding: 1rem;
        min-width: min-content;
        text-transform: capitalize;
      }

    }
    
  }

  &-forms {
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.row-odd {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color-light-shade-scheme-3);

  & > div {
    background-color: var(--color-light-shade-scheme-3);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.row-even {
  background-color: var(--color-light-shade-scheme-1);
  padding: 1rem 0;
}

.width-auto {
  width: auto !important;
}