.analytics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: min-content;
  padding: 2rem;

  &-item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    background-color: var(--color-scheme-5);
    padding: 2rem;
    border-radius: 1.2rem;
    box-shadow: .2rem .2rem .2rem .2rem rgba(0,0,0, .3);
    width: 18rem;
    height: 15rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
    }

    svg {
      width: 5rem;
      height: 5rem;
      margin: 0 2rem;
      fill: white;
    }

    span {
      font-size: 2.8rem;
      margin: 0 1rem;
      color: white;
    }
  }
}