.calendar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  &-view {
    width: 100%;
  }

  &-popup {
    position: absolute;
    top: 5%;
    width: 50%;
    margin-bottom: 1.5rem;

    &-item {
      width: 100%;
      height: 100%;
    }
    
  }

  &-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light-shade-scheme-2);
    position: relative;

    svg {
      width: 3rem;
      height: 3rem;
      fill: var(--color-scheme-2);
      margin: .5rem;

      &:hover {
        cursor: pointer;
      }
    }
    
    &-date {
      display: flex;
      align-items: center;
  
      span {
        padding: 1.2rem 0;
        font-size: 1.4rem;
        font-weight: 500;
        margin-right: 1rem;
        color: var(--color-dark-shade-scheme-1);

      }
    }
    
  }
  
}

.rbc-calendar {
  * {
    color: var(--color-dark-shade-scheme-1) !important;
  }
}

.rbc-toolbar {
  padding: 1rem 1rem;
}

.rbc-header {
  padding: 1rem 0 !important;
  
  span {
    font-weight: 700 !important;
  }
  
}

.rbc-time-slot {
  font-weight: 600 !important;
}

.rbc-today {
  background-color: var(--color-scheme-2) !important;
  
  // * {
  //   color: white !important;
  // }
  
}

.react-calendar__navigation {
  button:first-child {
    border-top-left-radius: 1.2rem;
  }

  button:last-child {
    border-top-right-radius: 1.2rem;
  }
}

.react-calendar__month-view__days {

  button {
    z-index: 10!important;
    opacity: 1!important;
  }

  button:not([disabled]) {
    background-color: white!important;
  }
 
} 

.react-calendar__tile--now {
  color: var(--color-scheme-2);
}

.react-calendar__viewContainer {
  background-color: #ffffff!important;
}

.rbc-time-view {
  min-height: 130% !important ;
}

.appointments {
  background-color: var(--color-dark-shade-scheme-1)!important;

  * {
    color: var(--color-light-shade-scheme-1)!important;
  }
  
}

.activities-light {
  * {
    font-weight: 500;
  }
}

.activities-dark {
  * {
    font-weight: 500;
  }
}

.rbc-events-container {
  margin-right: 0!important;
}

.rbc-timeslot-group {
  min-height: 20rem!important;
}

.rbc-label {
  font-weight: 700;
  color: #75778B!important;
}

.rbc-button-link {
  span {
    color: #75778B!important;
  }
}

.rbc-event {
  overflow-x: auto!important;
  overflow-y: auto!important;

  &::-webkit-scrollbar {
    height: 0.2rem;
    width: 0.2rem;
    background-color: #757575;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scheme-1) !important;
  }
  
}

// WEEKLY
.rbc-event-label {
  font-size: 1.1rem!important;
}

.rbc-label {
  display: none;
}

.rbc-time-content {
  display: none!important;
}

// .rbc-row {
//   min-height: max-content!important;
// }

// .rbc-row-segment {
//   height: max-content!important;
// }

.rbc-time-header {
  min-height: 100rem;
  max-height: max-content;
}

.rbc-time-header-cell {
  min-height: max-content!important;
  height: max-content!important;
}

.weekBox {
  min-height: max-content!important;
}


// MONTHLY
.calendar-view {
  height: 100rem!important;
}

// .rbc-date-cell {
//   background-color: red;
//   min-height: 2rem!important;
//   height: 2rem!important;
// }

.customEventActivity {
  display: flex;
  flex-direction: column;

  span {
    display: flex;
    align-items: center;
    padding: .3rem 0;
    text-transform: capitalize;

    &:last-child {
      font-size: 10px!important;
    }

    svg {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      fill: var(--color-dark-shade-scheme-1);
    }
    
  }
  
}

.customEventAppointment {
  display: flex;
  flex-direction: column;

  span {
    display: flex;
    align-items: center;
    padding: .3rem 0;
    text-transform: capitalize;
    width: max-content!important;

    svg {
      margin-right: 1rem;
      width: 2rem;
      height: 2rem;
      fill: var(--color-light-shade-scheme-1);
    }
    
  }
  
}