.calendar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  position: relative;
  width: 100%;
  height: 100%;

  &-view {
    width: 100%;
  }

  &-popup {
    width: 50%;
    margin-bottom: 1.5rem;
    position: relative;

    &-item {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
  }

  &-tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-light-shade-scheme-2);

    svg {
      width: 3rem;
      height: 3rem;
      fill: var(--color-scheme-2);
      margin: .5rem;

      &:hover {
        cursor: pointer;
      }
    }
    
    &-date {
      display: flex;
      align-items: center;
  
      span {
        padding: 1.2rem 0;
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--color-dark-shade-scheme-1);
      }
    }
    
  }
  
}


.rbc-calendar {
  * {
    color: var(--color-dark-shade-scheme-1) !important;
  }
}

.rbc-toolbar {
  padding: 1rem 1rem;
}

.rbc-row {
  height: 5rem !important;
}

.rbc-header {
  padding: 1rem 0 !important;
  
  span {
    font-weight: 700 !important;
  }
  
}

.rbc-time-slot {
  font-weight: 600 !important;
}

.rbc-today {
  background-color: var(--color-scheme-2) !important;
  
  * {
    color: white !important;
  }
  
}

.react-calendar__navigation {
  button:first-child {
    border-top-left-radius: 1.2rem;
  }

  button:last-child {
    border-top-right-radius: 1.2rem;
  }
}

.react-calendar__month-view__days {

  button {
    z-index: 10!important;
    opacity: 1!important;
  }

  button:not([disabled]) {
    background-color: white!important;
  }
 
} 

.react-calendar__tile--now {
  color: var(--color-scheme-2);
}

.react-calendar__viewContainer {
  background-color: white!important;
}

.rbc-time-view {
  min-height: 130% !important ;
}