.clientDashboard {
  display: flex;
  width: 100%;
  background-color: white;

  &-view {
    width: 100%;
    height: 100%;

    @media only screen and (max-width: $large) {
      padding: 0 0 20rem 0;
    }

    &-main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      height: 100%;
      padding: 2rem 2rem;

      @media only screen and (max-width: $large) {
        grid-template-columns: 1fr;
      }

      &-box {
        background-color: $color-dark-shade-scheme-1;
        width: calc(100% - 2.5rem);
        height: 45rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
      }
    }

    &-new {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 3rem 5rem;
      flex-wrap: wrap;

      @media only screen and (max-width: $large) {
        display: grid;
        grid-template-columns: 1fr;
      }

      &-item {
        margin-bottom: 2rem;
        border-radius: 1.2rem;
        // border: 0.2rem solid $color-scheme-2;
        background-color: white;
        padding: 2rem 3rem;
        width: 20rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        outline: none;
        transition: all 0.5s ease-in-out;
        // margin-right: 3rem;

        @media only screen and (max-width: $large) {
          width: 100%;
        }

        &:hover {
          cursor: pointer;
          box-shadow: 0rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
        }

        svg {
          width: 5rem;
          height: 5rem;
          fill: $color-dark-shade-scheme-1;
        }

        span {
          font-size: 1.6rem;
          margin: 1rem 0 0 0;
          color: $color-dark-shade-scheme-1;
        }
      }
    }

    &-slab_form {
      padding: 1rem 2rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border: 0.1rem solid $color-light-shade-scheme-1;
      border-bottom-left-radius: 1.2rem;
      border-bottom-right-radius: 1.2rem;

      @media only screen and (max-width: $large) {
        padding: 1rem 0.5rem;
      }

      &-container {
        margin: 3rem 5rem;
        background-color: white;
        height: 100%;
        border-radius: 1.2rem;

        @media only screen and (max-width: $large) {
          height: 100%;
          margin: 3rem 1rem;
        }
      }

      &-heading {
        display: flex;
        font-size: 1.4rem;
        height: 5rem;
        color: white;
        background-color: $color-dark-shade-scheme-1;
        padding: 1rem 1rem;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
      }

      &-shapes {
        &-container {
          display: flex;
          justify-content: center;
          margin: 5rem 0;
          perspective: 2000px;

          @media only screen and (max-width: $large) {
            display: grid;
          }
        }

        &-item {
          display: flex;
          justify-content: center;
          background-color: rgba($color-scheme-3, 0.1);
          box-shadow: 2rem 1rem 2rem 0.2rem rgba(0, 0, 0, 0.4);
          padding: 5rem;
          overflow-x: scroll;
          border-radius: 1.2rem;

          &::-webkit-scrollbar {
            width: 0.1rem;
            height: 0.3rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $color-scheme-1;
          }

          @media only screen and (max-width: $extra-large) {
            display: grid;
            justify-self: center;
            margin: 1rem 0;
          }

          &-block {
            display: flex;
            justify-content: flex-end;
            width: min-content;
            height: max-content;
            transform: rotate3d(0.05, 1, -0.1, 40deg);

            &-section_top {
              background-color: rgba(104, 104, 104, 0.2);
            }

            &-section_bottom {
              background-color: rgba(104, 104, 104, 0.2);
            }
          }

          &-box {
            margin: 2rem 2rem;
            padding: 1rem 2rem;
            display: grid;
            justify-content: center;

            &-container {
              display: flex;
              perspective: 2000px;
            }

            &-title {
              font-size: 2.4rem;
              color: $color-scheme-1;
              font-weight: 500;
              margin: 4rem 0;
            }

            &-description {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              margin: 1rem 0;

              &-item {
                display: grid;
                grid-template-columns: 1fr;
                margin: 1rem 3rem;

                label {
                  font-size: 1.6rem;
                  color: #b4b4b4;
                }

                span {
                  font-size: 1.8rem;
                }
              }
            }

            &-remnant {
              // display: flex;

              &-right {
                transform: rotate(90deg) !important;
              }

              &-image-right {
                // transform: rotate3d(0.05, 1, -0.1, 30deg);
                position: relative;
                background-color: rgba(104, 104, 104, 0.1);
                box-shadow: 3rem 0rem 1rem 0.3rem rgba(104, 104, 104, 0.1);
                // margin-left: 3.5rem;

                // &::before {
                //   content: 'B';
                //   position: absolute;
                //   left: -12%;
                //   border-right: 0.2rem solid $color-scheme-1;
                //   height: 100%;
                //   font-size: 1.5rem;
                //   font-weight: 700;
                //   display: flex;
                //   align-items: center;
                //   padding: 0 1rem;
                //   color: $color-scheme-1;
                // }

                &::after {
                  content: 'B';
                  position: absolute;
                  top: 102%;
                  left: 0;
                  border-top: 0.2rem solid $color-scheme-1;
                  width: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;
                }
              }

              &-image-right-reverse {
                // transform: rotate3d(0.05, 1, 0.1, 30deg);
                position: relative;
                display: flex;
                flex-direction: column;
                background-color: rgba(104, 104, 104, 0.1);
                box-shadow: -2rem -0.5rem 1rem 0.5rem rgba(104, 104, 104, 0.1);
                margin-bottom: 10rem;

                @media only screen and (max-width: $small) {
                  margin-right: 3.5rem;
                }

                &-svg_1 {
                  position: absolute;
                  bottom: -9.8%;
                  left: -5%;
                  width: 3rem;
                  fill: $color-scheme-1;

                  @media only screen and (max-width: $small) {
                    bottom: -12.2%;
                    left: -8%;
                  }
                }

                &-svg_2 {
                  position: absolute;
                  bottom: -9.8%;
                  right: -5%;
                  width: 3rem;
                  fill: $color-scheme-1;

                  @media only screen and (max-width: $small) {
                    bottom: -12.2%;
                    right: -8%;
                  }
                }

                &-svg_3 {
                  position: absolute;
                  bottom: -4%;
                  right: -12.2%;
                  width: 3rem;
                  fill: $color-scheme-1;

                  @media only screen and (max-width: $small) {
                    bottom: -5%;
                    right: -13.5%;
                  }
                }

                &-svg_4 {
                  position: absolute;
                  top: -4%;
                  right: -12.2%;
                  width: 3rem;
                  fill: $color-scheme-1;

                  @media only screen and (max-width: $small) {
                    top: -5%;
                    right: -13.5%;
                  }
                }

                &::before {
                  content: 'A';
                  position: absolute;
                  right: -19%;
                  border-left: 0.2rem solid $color-scheme-1;
                  height: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  align-items: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;

                  @media only screen and (max-width: $small) {
                    right: -25%;
                  }
                }

                &::after {
                  content: 'B';
                  position: absolute;
                  top: 105%;
                  right: 0;
                  border-top: 0.2rem solid $color-scheme-1;
                  width: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;
                }
              }

              &-image-left {
                // transform: rotate3d(0.05, 1, -0.1, 30deg);
                position: relative;
                background-color: rgba(104, 104, 104, 0.1);
                box-shadow: -3rem -2rem 1rem 0.3rem rgba(104, 104, 104, 0.1);

                @media only screen and (max-width: $small) {
                  margin-right: 3.5rem;
                }

                // &::before {
                //   content: 'B';
                //   position: absolute;
                //   right: -12%;
                //   border-left: 0.2rem solid $color-scheme-1;
                //   height: 100%;
                //   font-size: 1.5rem;
                //   font-weight: 700;
                //   display: flex;
                //   align-items: center;
                //   padding: 0 1rem;
                //   color: $color-scheme-1;
                // }

                &::after {
                  content: 'B';
                  position: absolute;
                  bottom: 102%;
                  left: 0;
                  border-bottom: 0.2rem solid $color-scheme-1;
                  width: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;
                }
              }

              &-image-left-reverse {
                // transform: rotate3d(0.05, 1, 0.1, 30deg);
                position: relative;
                display: flex;
                flex-direction: column;
                background-color: rgba(104, 104, 104, 0.1);
                box-shadow: -3rem -1rem 1rem 0.5rem rgba(104, 104, 104, 0.1);

                &::before {
                  content: 'A';
                  position: absolute;
                  right: -19%;
                  border-left: 0.2rem solid $color-scheme-1;
                  border-right: 0.2rem solid $color-scheme-1;
                  height: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  align-items: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;

                  @media only screen and (max-width: $small) {
                    right: -24%;
                  }
                }

                &::after {
                  content: 'B';
                  position: absolute;
                  top: 102%;
                  right: 0;
                  border-top: 0.2rem solid $color-scheme-1;
                  width: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;
                }
              }

              &-image-rectangle {
                transform: rotate3d(0.05, 1, -0.1, 30deg);
                position: relative;

                &::before {
                  content: 'B';
                  position: absolute;
                  left: -12%;
                  border-right: 0.2rem solid $color-scheme-1;
                  height: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  align-items: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;
                }

                &::after {
                  content: 'A';
                  position: absolute;
                  top: 105%;
                  left: 0;
                  border-top: 0.2rem solid $color-scheme-1;
                  width: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;
                }
              }

              &-image-box {
                position: relative;
                background-color: rgba(104, 104, 104, 0.1);
                box-shadow: -3rem -2rem 1rem 0.3rem rgba(104, 104, 104, 0.1);
                margin-left: 3rem;

                &::before {
                  content: 'A';
                  position: absolute;
                  right: -12%;
                  border-left: 0.2rem solid $color-scheme-1;
                  height: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  align-items: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;
                }

                &::after {
                  content: 'B';
                  position: absolute;
                  bottom: 102%;
                  left: 0;
                  border-bottom: 0.2rem solid $color-scheme-1;
                  width: 100%;
                  font-size: 1.5rem;
                  font-weight: 700;
                  display: flex;
                  justify-content: center;
                  padding: 0 1rem;
                  color: $color-scheme-1;
                }
              }
            }
          }
        }
      }
    }

    &-slab_list {
      padding: 1rem 2rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      @media only screen and (max-width: $large) {
        padding: 1rem 0.5rem;
      }

      &-container {
        margin: 3rem 5rem;
        background-color: white;
        height: 100%;
        border-radius: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media only screen and (max-width: $large) {
          height: 100%;
          margin: 3rem 1rem;
        }
      }

      &-heading {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        width: 100%;
        height: 5rem;
        color: white;
        background-color: $color-dark-shade-scheme-1;
        padding: 1rem 1rem;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;

        &-controls {
          display: flex;
          align-items: center;
          margin-left: 2rem;

          &-item {
            margin-left: 1rem;
            padding: 0.5rem 2rem;
            border-radius: 1.2rem;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      &-headers {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        @media only screen and (max-width: $extra-large) {
          overflow-x: scroll;

          &::-webkit-scrollbar {
            width: 0.1rem;
            height: 0.3rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $color-scheme-1;
          }
        }

        &-checkbox {
          display: flex;
          align-items: center;
          width: max-content;
          height: 100%;
          padding: 1rem 1.5rem;
        }

        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem 0rem;
          margin-left: 1rem;
          font-size: 1.2rem;
          font-weight: 700;
          border-bottom: 0.05rem solid $color-light-shade-scheme-3;
          width: 8rem;
          text-align: center;

          &:hover {
            cursor: pointer;
          }

          svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: $color-scheme-1;
            margin-left: 0.5rem;
          }

          &:first-child {
            width: 25rem;

            @media only screen and (max-width: $wide) {
              width: 15rem !important;
            }
          }

          @media only screen and (max-width: $wide) {
            font-size: 1rem;
            width: 6rem;
          }

          &-container {
            display: flex;
            width: 100%;

            @media only screen and (max-width: $extra-large) {
              width: 300rem;
            }
          }
        }
      }

      &-slabs {
        width: 100%;
        height: min-content;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 0.1rem;
          height: 0.2rem;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $color-scheme-3;
        }

        &-checkbox {
          display: flex;
          align-items: center;
          width: max-content;
          height: 100%;
          padding: 1rem 0.5rem;

          label {
            width: 2em;
            height: 2rem;
            border: 0.1rem solid $color-dark-shade-scheme-1;
            border-radius: 50%;

            &:hover {
              cursor: pointer;
            }
          }

          input {
            display: none;

            &:checked + label {
              background-color: $color-scheme-1;
            }
          }
        }

        &-container {
          width: 100%;
          height: 1000px;

          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 0.1rem;
            height: 0.1rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $color-scheme-3;
          }

          @media only screen and (max-width: $wide) {
            height: 800px;
          }
        }

        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem 0rem;
          margin-left: 1rem;
          font-size: 1.2rem;
          font-weight: 300;
          // border-bottom: 0.05rem solid $color-dark-shade-scheme-2;
          width: 8rem;
          text-align: center;

          &:first-child {
            width: 25rem;

            @media only screen and (max-width: $wide) {
              width: 15rem !important;
            }
          }

          @media only screen and (max-width: $wide) {
            font-size: 1.1rem;
            width: 6rem;
          }

          &-container {
            display: flex;
            width: 100%;

            &:hover {
              cursor: pointer;
              background-color: $color-light-shade-scheme-3;
            }

            @media only screen and (max-width: $wide) {
              width: 300rem;
              display: flex;
            }
          }

          img {
            text-align: center;
            object-fit: cover;
            margin: 0 auto;
            width: 20rem;
            height: 10rem;
            box-shadow: 0.2rem 0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.4);

            @media only screen and (max-width: $wide) {
              width: 10rem;
            }
          }
        }
      }
    }

    &-form {
      &-left {
        width: calc(50% - 1rem);
        margin-right: 2rem;

        @media only screen and (max-width: $extra-large) {
          width: 100%;
          margin-bottom: 1rem;
        }

        &-box {
          border: 0.1rem solid $color-light-shade-scheme-1;
          border-top-right-radius: 1.2rem;
          border-top-left-radius: 1.2rem;
          margin-bottom: 1rem;
          max-height: 50rem;
          overflow-y: scroll;

          &::-webkit-scrollbar {
            width: 0.1rem;
            height: 0.3rem;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $color-scheme-1;
          }

          &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            background-color: $color-dark-shade-scheme-1;
            font-size: 1.4rem;
            padding: 1rem 2rem;
            border-top-right-radius: 1.2rem;
            border-top-left-radius: 1.2rem;

            svg {
              width: 3rem;
              height: 3rem;
              fill: $color-scheme-1;

              &:hover {
                cursor: pointer;
              }
            }
          }

          &-container {
            &-item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;

              &-info {
                display: flex;
                width: calc(100% - 10rem);
                overflow-x: auto;

                &::-webkit-scrollbar {
                  width: 0.1rem;
                  height: 0.3rem;
                }

                &::-webkit-scrollbar-thumb {
                  background-color: $color-scheme-1;
                }

                &-headers {
                  display: flex;
                  width: calc(100% - 10rem);
                  overflow-x: auto;

                  &::-webkit-scrollbar {
                    width: 0.1rem;
                    height: 0.3rem;
                  }

                  &::-webkit-scrollbar-thumb {
                    background-color: $color-light-shade-scheme-1;
                  }

                  span {
                    display: flex;
                    align-items: center;
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: 1.4rem;
                    padding: 0.5rem 1.5rem;
                    min-width: 13rem;
                    max-width: 13rem;

                    svg {
                      margin-left: 1rem;
                      width: 2rem;
                      height: 2rem;
                      fill: $color-scheme-1;

                      &:hover {
                        cursor: pointer;
                      }
                    }
                  }
                }

                span {
                  text-align: start;
                  text-transform: capitalize;
                  font-size: 1.4rem;
                  padding: 1.5rem;
                  min-width: 13rem;
                  max-width: 13rem;
                }

                a {
                  text-decoration: underline;
                  color: $color-scheme-1;
                  font-size: 1.4rem;
                  padding: 1.5rem;
                  min-width: 12rem;
                  max-width: 13rem;

                  &:hover {
                    cursor: pointer;
                  }
                }
              }

              &-controls {
                span {
                  margin: 0 1rem;

                  svg {
                    width: 3rem;
                    height: 2.5rem;
                    fill: $color-scheme-1;

                    &:hover {
                      cursor: pointer;
                      fill: $color-scheme-3;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &-right {
        width: calc(50% - 3rem);
        margin-right: 2rem;

        @media only screen and (max-width: $extra-large) {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.tracker-list {
  height: 500px !important;

  @media only screen and (max-width: $wide) {
    height: 400px !important;
  }
}

.single-column {
  max-width: 100% !important;
}

.double-column {
  span {
    max-width: 100% !important;
  }
}

.remnant-right-top {
  width: 10rem;
  height: 20rem;

  @media only screen and (max-width: $small) {
    width: 7.5rem;
    height: 15rem;
  }
}

.remnant-right-bottom {
  width: 20rem;
  height: 10rem;

  @media only screen and (max-width: $small) {
    width: 15rem;
    height: 7.5rem;
  }
}

.remnant-right-reverse-top {
  width: 10rem;
  height: 25rem;
  align-self: flex-end !important;

  @media only screen and (max-width: $small) {
    width: 7.5rem;
    height: 15rem;
  }
}

.remnant-right-reverse-bottom {
  width: 25rem;
  height: 10rem;

  @media only screen and (max-width: $small) {
    width: 15rem;
    height: 7.5rem;
  }
}

.remnant-left-top {
  width: 20rem;
  height: 10rem;

  @media only screen and (max-width: $small) {
    width: 15rem;
    height: 7.5rem;
  }
}

.remnant-left-bottom {
  width: 10rem;
  height: 20rem;

  @media only screen and (max-width: $small) {
    width: 7.5rem;
    height: 15rem;
  }
}

.remnant-left-reverse-top {
  align-self: flex-end !important;
  width: 10rem;
  height: 20rem;

  @media only screen and (max-width: $small) {
    width: 7.5rem;
    height: 15rem;
  }
}

.remnant-left-reverse-bottom {
  width: 20rem;
  height: 10rem;

  @media only screen and (max-width: $small) {
    width: 15rem;
    height: 7.5rem;
  }
}

.remnant-rectangle-top {
  width: 35rem;
  height: 10rem;
}

.remnant-rectangle-bottom {
  width: 35rem;
  height: 10rem;
}

.remnant-right-l2 {
  position: relative;

  &::before {
    content: 'D';
    position: absolute;
    bottom: 102%;
    left: 0;
    border-bottom: 0.2rem solid $color-scheme-1;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    color: $color-scheme-1;
  }
}

.remnant-right-w2 {
  position: relative;

  &::before {
    content: 'C';
    position: absolute;
    top: 0%;
    left: 102%;
    border-left: 0.2rem solid $color-scheme-1;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: $color-scheme-1;
  }
}

.remnant-right-reverse-l2 {
  position: relative;

  &-svg_1 {
    position: absolute;
    top: -11.2%;
    left: -13%;
    width: 3rem;
    fill: $color-scheme-1;

    @media only screen and (max-width: $small) {
      top: -15.5%;
    }
  }

  &-svg_2 {
    position: absolute;
    top: -11.2%;
    right: -13%;
    width: 3rem;
    fill: $color-scheme-1;

    @media only screen and (max-width: $small) {
      top: -15.5%;
    }
  }

  &::before {
    content: 'C';
    position: absolute;
    bottom: 105%;
    border-bottom: 0.2rem solid $color-scheme-1;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    color: $color-scheme-1;
  }
}

.remnant-right-reverse-w2 {
  position: relative;

  &-svg_1 {
    position: absolute;
    top: -11.2%;
    left: -11.5%;
    width: 3rem;
    fill: $color-scheme-1;

    @media only screen and (max-width: $small) {
      top: -15.2%;
      left: -15.7%;
    }
  }

  &-svg_2 {
    position: absolute;
    bottom: -11.2%;
    left: -11.5%;
    width: 3rem;
    fill: $color-scheme-1;

    @media only screen and (max-width: $small) {
      bottom: -15.2%;
      left: -15.7%;
    }
  }

  &::before {
    content: 'D';
    position: absolute;
    right: 105%;
    border-right: 0.2rem solid $color-scheme-1;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: $color-scheme-1;
  }
}

.remnant-left-reverse-l2 {
  position: relative;

  &::before {
    content: 'D';
    position: absolute;
    bottom: 102%;
    left: 0;
    border-bottom: 0.2rem solid $color-scheme-1;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    color: $color-scheme-1;
  }
}

.remnant-left-reverse-w2 {
  position: relative;

  &::before {
    content: 'C';
    position: absolute;
    top: 5%;
    right: 102%;
    border-right: 0.2rem solid $color-scheme-1;
    height: 95%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: $color-scheme-1;
  }
}

.remnant-left-l2 {
  position: relative;

  &::before {
    content: 'C';
    position: absolute;
    // bottom: 110%;
    left: 102%;
    border-left: 0.2rem solid $color-scheme-1;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    color: $color-scheme-1;
  }
}

.remnant-left-w2 {
  position: relative;

  &::before {
    content: 'D';
    position: absolute;
    top: 102%;
    border-top: 0.2rem solid $color-scheme-1;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    color: $color-scheme-1;
  }
}

// .remnantRightRotate {
//   transform: rotate(90deg);
//   margin: 5rem 0;
// }
