.clientDashboard {
  display: flex;
  width: 100%;
  background-color: $color-light-shade-scheme-2;

  &-view {
    width: 100%;
    height: 100%;

    &-main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      height: 100%;
      padding: 2rem 2rem;

      @media only screen and (max-width: $large) {
        grid-template-columns: 1fr;
      }

      &-box {
        background-color: $color-dark-shade-scheme-1;
        width: calc(100% - 2.5rem);
        height: 45rem;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
      }
    }

    &-new {
      display: flex;
      width: 100%;
      height: 100%;
      padding: 3rem 5rem;

      &-item {
        margin-bottom: 2rem;
        border-radius: 1.2rem;
        border: 0.2rem solid $color-scheme-2;
        background-color: $color-scheme-2;
        padding: 2rem 3rem;
        width: 20rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        outline: none;
        transition: all 0.5s ease-in-out;
        margin-right: 3rem;

        &:hover {
          cursor: pointer;
          box-shadow: 0rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4);
        }

        svg {
          width: 5rem;
          height: 5rem;
          fill: $color-dark-shade-scheme-1;
        }

        span {
          font-size: 1.6rem;
          margin: 1rem 0 0 0;
          color: $color-dark-shade-scheme-1;
        }
      }
    }

    &-slab_form {
      padding: 1rem 2rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      &-container {
        margin: 3rem 5rem;
        background-color: white;
        height: 100%;
        border-radius: 1.2rem;

        @media only screen and (max-width: $large) {
          height: 100%;
        }
      }

      &-heading {
        font-size: 1.4rem;
        color: white;
        background-color: $color-dark-shade-scheme-1;
        padding: 1rem 1rem;
        border-top-left-radius: 1.2rem;
        border-top-right-radius: 1.2rem;
      }
    }
  }
}
