.clientDashboard_topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  background-color: $color-dark-shade-scheme-4;

  &-logo {
    img {
      height: 6rem;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    position: relative;

    &-account {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      color: white;

      @media only screen and (max-width: $large) {
        display: none;
      }

      img {
        height: 4rem;
        margin-right: 1rem;
        background-color: white;
        border-radius: 50%;
      }
    }

    &-mobile {
      display: none;

      @media only screen and (max-width: $large) {
        display: flex;
        align-items: center;
        margin: 0 2rem 0 0;
      }

      &-user {
        font-size: 1.4rem;
        margin-right: 2rem;
        color: white;
        font-weight: 400;
      }

      &-checkbox {
        display: none;
      }

      &-checkbox:checked + &-button &-icon {
        background-color: transparent;
      }

      &-checkbox:checked + &-button &-icon:before {
        top: 0%;
        transform: rotate(135deg);
      }

      &-checkbox:checked + &-button &-icon:after {
        top: 0%;
        transform: rotate(-135deg);
      }

      &-button {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
      }

      &-button:hover &-icon:before {
        top: -1rem;
      }

      &-button:hover &-icon:after {
        top: 1rem;
      }

      &-icon {
        position: relative;

        &,
        &:before,
        &:after {
          width: 3rem;
          height: 0.2rem;
          background-color: white;
          display: inline-block;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 0;
          transition: all 0.2s;
        }

        &:before {
          top: -0.6rem;
        }

        &:after {
          top: 0.6rem;
        }
      }
    }
  }
}

.clientDashboard_sidenav {
  width: 15%;
  min-height: 100rem;
  max-height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: $color-light-shade-scheme-3;
  border-right: solid 0.1rem $color-light-shade-scheme-1;
  z-index: 2000 !important;

  @media only screen and (max-width: $extra-large) {
    width: 17%;
  }

  @media only screen and (max-width: $large) {
    width: 30%;
  }

  @media only screen and (max-width: $small) {
    width: 40%;
  }

  &-menu {
    // margin: 1rem 0 0 0;

    &-account {
      display: none;
      padding: 0 0 0 2rem;
      font-size: 1.6rem;
      margin: 3rem 0;
      color: white;
      animation: slideFromLeft 1s ease-in-out;
      transition: all 0.6s ease-in-out;

      @media only screen and (max-width: $large) {
        display: flex;
        align-items: center;
        color: $color-scheme-3;
      }

      img {
        height: 4rem;
        margin-right: 1rem;
        background-color: white;
        border-radius: 50%;
      }
    }

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-color: inherit;
      position: relative;
      transition: all 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      &-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease-in-out;
        color: $color-scheme-3;

        svg {
          margin-right: 1rem;
          fill: $color-scheme-2;
        }
      }

      &-tabIcon {
        display: flex;
        align-items: center;
        width: 3rem;
        height: 3rem;
        fill: $color-scheme-3;
        transition: all 0.5s ease-in-out;
      }

      div {
        font-size: 1.4rem;
        font-weight: 700;
        transition: all 0.5s ease-in-out;
      }

      &-arrow {
        position: relative;
        display: flex;
        align-items: center;
        width: 3rem;
        height: 3rem;

        svg {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 3rem;
          height: 3rem;
        }

        &-input {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
        }
      }

      &-dropdown {
        &-fill {
          display: flex;
          align-items: center;
          margin: 0 2rem;
          padding: 1rem 0;
          font-size: 1.4rem;
          color: white;
          border-left: 0.1rem solid $color-scheme-3;
          transition: all 0.5s ease-in-out;
        }

        &-item {
          display: flex;
          align-items: center;
          margin: 0 2rem;
          padding: 0.5rem 1.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          color: $color-scheme-3;
          border-left: 0.1rem solid $color-scheme-3;
          position: relative;
          transition: all 0.5s ease-in-out;

          &:hover {
            cursor: pointer;
            color: $color-dark-shade-scheme-3;
          }

          svg {
            position: absolute;
            left: -0.5rem;
            width: 1rem;
            height: 1rem;
            fill: $color-light-shade-scheme-2;
            background-color: $color-dark-shade-scheme-1;
            border-radius: 50%;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $large) {
    position: absolute;
    z-index: 100;
  }
}
