.clientDashboard_topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;

  &-logo {
    img {
      height: 8rem;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    position: relative;

    &-account {
      display: flex;
      align-items: center;
      font-size: 1.6rem;

      img {
        height: 4rem;
        margin-right: 1rem;
        background-color: $color-scheme-3;
        border-radius: 50%;
      }
    }

    &-mobile {
      display: flex;
      align-items: center;

      &-button {
        display: flex;
        align-items: center;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        z-index: 1000;
        cursor: pointer;
        // margin-right: -3rem;
      }

      &-button:hover &-icon:before {
        top: -1rem;
      }

      &-button:hover &-icon:after {
        top: 1rem;
      }

      &-icon {
        position: relative;

        &,
        &:before,
        &:after {
          width: 3rem;
          height: 0.2rem;
          background-color: $color-dark-shade-scheme-1;
          display: inline-block;
        }

        &:before,
        &:after {
          content: '';
          position: absolute;
          left: 0;
          transition: all 0.2s;
        }

        &:before {
          top: -0.6rem;
        }

        &:after {
          top: 0.6rem;
        }
      }
    }
  }
}

.clientDashboard_sidenav {
  width: 30rem;
  height: 100rem;
  transition: all 0.5s ease-in-out;
  background-color: $color-dark-shade-scheme-1;

  &-menu {
    margin: 5rem 0 0 0;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-color: white;
      position: relative;
      transition: all 0.5s ease-in-out;

      &:hover {
        cursor: pointer;
      }

      &-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s ease-in-out;

        svg {
          margin-right: 1rem;
        }
      }

      &-tabIcon {
        display: flex;
        align-items: center;
        width: 3rem;
        height: 3rem;
        fill: $color-scheme-3;
        transition: all 0.5s ease-in-out;
      }

      div {
        font-size: 1.4rem;
        transition: all 0.5s ease-in-out;
      }

      &-arrow {
        position: relative;
        display: flex;
        align-items: center;
        width: 3rem;
        height: 3rem;

        svg {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 3rem;
          height: 3rem;
        }

        &-input {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
        }
      }

      &-dropdown {
        &-fill {
          display: flex;
          align-items: center;
          margin: 0 2rem;
          padding: 1rem 0;
          font-size: 1.4rem;
          color: white;
          border-left: 0.1rem solid white;
          transition: all 0.5s ease-in-out;
        }

        &-item {
          display: flex;
          align-items: center;
          margin: 0 2rem;
          padding: 0.5rem 1.5rem;
          font-size: 1.4rem;
          color: white;
          border-left: 0.1rem solid white;
          position: relative;
          transition: all 0.5s ease-in-out;

          &:hover {
            cursor: pointer;
            color: $color-dark-shade-scheme-3;
          }

          svg {
            position: absolute;
            left: -0.5rem;
            width: 1rem;
            height: 1rem;
            fill: $color-light-shade-scheme-2;
            background-color: $color-dark-shade-scheme-1;
            border-radius: 50%;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $large) {
    position: absolute;
    z-index: 100;
  }
}
