.clientDashboard-view-slab_form-quoteLine {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &-left {
    width: calc(30% - 1rem);
    margin-right: 2rem;
    padding: 0 2rem;

    @media only screen and (max-width: $extra-large) {
      min-width: 100% !important;
      margin-bottom: 1rem;
    }

    &-box {
      margin-bottom: 1rem;
      max-height: 50rem;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0.1rem;
        height: 0.3rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-1;
      }

      &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 1rem;
        border-bottom: 0.1rem solid $color-scheme-1;
        // border-radius: 1.2rem;
        margin-bottom: 1rem;

        svg {
          width: 3rem;
          height: 3rem;
          fill: $color-scheme-1;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &-item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &-heading {
          align-self: flex-start;
          font-size: 1.4rem;
          min-width: max-content;
          max-width: max-content;
          font-weight: 700;
        }

        &-content {
          margin-left: 2rem;
          width: 100%;
          position: relative;
          font-size: 1.4rem;
        }
      }
    }
  }
  &-right {
    width: calc(65% - 1rem);
    margin-right: 2rem;
    padding: 0 2rem;

    @media only screen and (max-width: $extra-large) {
      min-width: 100% !important;
      margin-bottom: 1rem;
    }

    &-box {
      margin-bottom: 1rem;
      max-height: 50rem;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0.1rem;
        height: 0.3rem;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-scheme-1;
      }

      &-heading {
        display: flex;
        align-items: center;
        color: black;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 1rem;
        border-bottom: 0.1rem solid $color-scheme-1;
        // border-radius: 1.2rem;
        margin-bottom: 1rem;
        width: 100%;
        justify-content: space-between;

        &-left {
          display: flex;
          align-items: center;
        }

        &-right {
          display: flex;
          align-items: center;

          button {
            margin: 0;

            &:disabled {
              cursor: not-allowed;
              background-color: $color-light-shade-scheme-1;
            }
          }
        }

        &-icon {
          font-weight: 400;
          margin-left: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $color-scheme-1;
          color: white;
          padding: 0.5rem;
          border-radius: 1.2rem;

          svg {
            width: 3rem;
            height: 3rem;
            fill: white;

            &:hover {
              cursor: pointer;
            }
          }
        }

        &-send {
          justify-self: flex-end;
        }
      }

      &-line {
        margin-bottom: 2rem;

        &-container {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          width: 100%;
          padding: 0.5rem 0.5rem;

          &:hover {
            cursor: pointer;
            background-color: $color-light-shade-scheme-3;
          }

          svg {
            width: 3rem;
            height: 3rem;
            fill: $color-scheme-1;
          }

          div {
            margin-left: 3rem;
          }

          pre {
            margin-left: 3rem;
            font-family: inherit;
          }
        }

        &-description {
          flex-grow: 1;
        }

        &-total {
          justify-self: right;
        }

        &-label {
          font-size: 1.2rem;
          color: $color-dark-shade-scheme-3;
        }
      }

      &-estimate {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        font-size: 1.4rem;
        padding: 0.5rem 0.5rem;

        div {
          display: flex;
          align-items: center;

          label {
            max-width: 15rem;
            text-align: right;
          }

          span {
            text-align: right;
            min-width: 12rem;
            max-width: 12rem;
          }
        }

        &-total {
          font-size: 1.6rem;
          padding: 1rem 0;
          margin: 0.5rem 0 0 0;
          border-top: 0.1rem solid $color-scheme-1;
        }

        &-balance {
          font-size: 1.8rem;
          color: $color-scheme-2;
          padding: 1rem 0;
          margin: 0.5rem 0 0 0;
          border-top: 0.1rem solid $color-scheme-1;
          font-weight: 500;
        }
      }
    }
  }
}
