// BASE
@import './base.scss';

// HELPERS
@import './helpers/forms.scss';
@import './helpers/alignments.scss';
@import './helpers/animations.scss';
@import './helpers/floaters.scss';
@import './helpers/navigation.scss';

// COMPONENTS
@import './components/modals.scss';

// CLIENT
@import './client/dashboard/navigation.scss';
@import './client/dashboard/dashboard.scss';
@import './client/dashboard/quoteLine.scss';

// PAGES
@import './pages/home.scss';
@import './pages/login.scss';
@import './pages/signup.scss';
@import './pages/activate.scss';
